<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chinatelecom.jx.zone.management.dao.mybatis.mapper.drawModule.DrawModuleInfoMapper" >

	<resultMap id="BaseResultMap" type="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean">
    	<id column="ID" jdbcType="DECIMAL" property="id"/>
    	<result column="MODULE_NAME" jdbcType="VARCHAR" property="moduleName"/>
    	<result column="UNIQUE_MARK" jdbcType="VARCHAR" property="uniqueMark"/>
    	<result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    	<result column="SORT_GRADE" jdbcType="DECIMAL" property="sortGrade"/>
    	<result column="ACCOUNT_ID" jdbcType="DECIMAL" property="accountId"/>
    	<result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName"/>
    	<result column="PARK_ID" jdbcType="DECIMAL" property="parkId"/>
    	<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    	<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    	<result column="MODEL_TYPE" jdbcType="VARCHAR" property="modelType"/>
    	<result column="ROW_NUM" jdbcType="DECIMAL" property="rowNum"/>
    	<result column="COL_NUM" jdbcType="DECIMAL" property="colNum"/>
    	<result column="PARENT_ID" jdbcType="DECIMAL" property="parentId"/>
    	<result column="FORM_LAYOUT" jdbcType="VARCHAR" property="formLayout"/>
	</resultMap>
	
	<!--
	<resultMap id="ResultMapWithForeign" type="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean" extends="BaseResultMap" >
			 <result column="workProcessid" property="workProcessid" jdbcType="VARCHAR" />
			 <result column="currentState" property="currentState" jdbcType="VARCHAR" />
       <result column="organizationName" property="orgName" jdbcType="VARCHAR" />
        <result column="companyName" property="companyName" jdbcType="VARCHAR" />
       <result column="accountName" property="accountName" jdbcType="VARCHAR" />
       <result column="parkName" property="parkName" jdbcType="VARCHAR" />
  </resultMap>
  -->
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ID,MODULE_NAME,UNIQUE_MARK,DESCRIPTION,SORT_GRADE,ACCOUNT_ID,ACCOUNT_NAME,PARK_ID,CREATE_TIME,UPDATE_TIME,MODEL_TYPE,ROW_NUM,COL_NUM,PARENT_ID,FORM_LAYOUT
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_DRAW_MODULE_INFO
    where 
				ID = #{id,jdbcType=DECIMAL} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        DELETE FROM T_DRAW_MODULE_INFO WHERE
				ID = #{id,jdbcType=DECIMAL} 
    </delete>

	<insert id="insert" parameterType="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean">
        INSERT INTO T_DRAW_MODULE_INFO (
        	ID ,
        	MODULE_NAME ,
        	UNIQUE_MARK ,
        	DESCRIPTION ,
        	SORT_GRADE ,
        	ACCOUNT_ID ,
        	ACCOUNT_NAME ,
        	PARK_ID ,
        	CREATE_TIME ,
        	UPDATE_TIME ,
        	MODEL_TYPE ,
        	ROW_NUM ,
        	COL_NUM ,
        	PARENT_ID ,
        	FORM_LAYOUT 
        ) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{moduleName,jdbcType=VARCHAR} ,
        	#{uniqueMark,jdbcType=VARCHAR} ,
        	#{description,jdbcType=VARCHAR} ,
        	#{sortGrade,jdbcType=DECIMAL} ,
        	#{accountId,jdbcType=DECIMAL} ,
        	#{accountName,jdbcType=VARCHAR} ,
        	#{parkId,jdbcType=DECIMAL} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{updateTime,jdbcType=TIMESTAMP} ,
        	#{modelType,jdbcType=VARCHAR} ,
        	#{rowNum,jdbcType=DECIMAL} ,
        	#{colNum,jdbcType=DECIMAL} ,
        	#{parentId,jdbcType=DECIMAL} ,
        	#{formLayout,jdbcType=VARCHAR} 
        )
	</insert>
	
	<insert id="insertSelective" parameterType="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean">
    insert into T_DRAW_MODULE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
    		<if test="id != null" >
        ID,
      	</if>
    		<if test="moduleName != null" >
        MODULE_NAME,
      	</if>
    		<if test="uniqueMark != null" >
        UNIQUE_MARK,
      	</if>
    		<if test="description != null" >
        DESCRIPTION,
      	</if>
    		<if test="sortGrade != null" >
        SORT_GRADE,
      	</if>
    		<if test="accountId != null" >
        ACCOUNT_ID,
      	</if>
    		<if test="accountName != null" >
        ACCOUNT_NAME,
      	</if>
    		<if test="parkId != null" >
        PARK_ID,
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME,
      	</if>
    		<if test="updateTime != null" >
        UPDATE_TIME,
      	</if>
    		<if test="modelType != null" >
        MODEL_TYPE,
      	</if>
    		<if test="rowNum != null" >
        ROW_NUM,
      	</if>
    		<if test="colNum != null" >
        COL_NUM,
      	</if>
    		<if test="parentId != null" >
        PARENT_ID,
      	</if>
    		<if test="formLayout != null" >
        FORM_LAYOUT,
      	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="id != null" >
        #{id,jdbcType=DECIMAL},
      	</if>
    		<if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      	</if>
    		<if test="uniqueMark != null" >
        #{uniqueMark,jdbcType=VARCHAR},
      	</if>
    		<if test="description != null" >
        #{description,jdbcType=VARCHAR},
      	</if>
    		<if test="sortGrade != null" >
        #{sortGrade,jdbcType=DECIMAL},
      	</if>
    		<if test="accountId != null" >
        #{accountId,jdbcType=DECIMAL},
      	</if>
    		<if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      	</if>
    		<if test="parkId != null" >
        #{parkId,jdbcType=DECIMAL},
      	</if>
    		<if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="modelType != null" >
        #{modelType,jdbcType=VARCHAR},
      	</if>
    		<if test="rowNum != null" >
        #{rowNum,jdbcType=DECIMAL},
      	</if>
    		<if test="colNum != null" >
        #{colNum,jdbcType=DECIMAL},
      	</if>
    		<if test="parentId != null" >
        #{parentId,jdbcType=DECIMAL},
      	</if>
    		<if test="formLayout != null" >
        #{formLayout,jdbcType=VARCHAR},
      	</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean">
    update T_DRAW_MODULE_INFO
    <set >
    		<if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      	</if>
    		<if test="uniqueMark != null" >
        UNIQUE_MARK = #{uniqueMark,jdbcType=VARCHAR},
      	</if>
    		<if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      	</if>
    		<if test="sortGrade != null" >
        SORT_GRADE = #{sortGrade,jdbcType=DECIMAL},
      	</if>
    		<if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=DECIMAL},
      	</if>
    		<if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      	</if>
    		<if test="parkId != null" >
        PARK_ID = #{parkId,jdbcType=DECIMAL},
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="modelType != null" >
        MODEL_TYPE = #{modelType,jdbcType=VARCHAR},
      	</if>
    		<if test="rowNum != null" >
        ROW_NUM = #{rowNum,jdbcType=DECIMAL},
      	</if>
    		<if test="colNum != null" >
        COL_NUM = #{colNum,jdbcType=DECIMAL},
      	</if>
    		<if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      	</if>
    		<if test="formLayout != null" >
        FORM_LAYOUT = #{formLayout,jdbcType=VARCHAR},
      	</if>
    </set>
    where 
      ID = #{id,jdbcType=DECIMAL} 
  </update>
  
	<update id="updateByPrimaryKey" parameterType="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean">
      UPDATE T_DRAW_MODULE_INFO SET
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR} ,
        UNIQUE_MARK = #{uniqueMark,jdbcType=VARCHAR} ,
        DESCRIPTION = #{description,jdbcType=VARCHAR} ,
        SORT_GRADE = #{sortGrade,jdbcType=DECIMAL} ,
        ACCOUNT_ID = #{accountId,jdbcType=DECIMAL} ,
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR} ,
        PARK_ID = #{parkId,jdbcType=DECIMAL} ,
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP} ,
        MODEL_TYPE = #{modelType,jdbcType=VARCHAR} ,
        ROW_NUM = #{rowNum,jdbcType=DECIMAL} ,
        COL_NUM = #{colNum,jdbcType=DECIMAL} ,
        PARENT_ID = #{parentId,jdbcType=DECIMAL} ,
        FORM_LAYOUT = #{formLayout,jdbcType=VARCHAR} 
      WHERE 
        ID = #{id,jdbcType=DECIMAL} 
	</update>
	
	<sql id="Base_Where_Clause">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	        
		       <if test="id != null">
						<![CDATA[AND ID = #{id,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="moduleName != null and moduleName != ''">
						<!--
						<![CDATA[AND MODULE_NAME = #{moduleName,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND MODULE_NAME LIKE '%' || #{moduleName,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="uniqueMark != null and uniqueMark != ''">
						<!--
						<![CDATA[AND UNIQUE_MARK = #{uniqueMark,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND UNIQUE_MARK LIKE '%' || #{uniqueMark,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="description != null and description != ''">
						<!--
						<![CDATA[AND DESCRIPTION = #{description,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND DESCRIPTION LIKE '%' || #{description,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="sortGrade != null">
						<![CDATA[AND SORT_GRADE = #{sortGrade,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="accountId != null">
						<![CDATA[AND ACCOUNT_ID = #{accountId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="accountName != null and accountName != ''">
						<!--
						<![CDATA[AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND ACCOUNT_NAME LIKE '%' || #{accountName,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="parkId != null">
						<![CDATA[AND PARK_ID = #{parkId,jdbcType=DECIMAL}]]>
				   </if>
	        
	        
	        
		       <if test="modelType != null and modelType != ''">
						<!--
						<![CDATA[AND MODEL_TYPE = #{modelType,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND MODEL_TYPE LIKE '%' || #{modelType,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="rowNum != null">
						<![CDATA[AND ROW_NUM = #{rowNum,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="colNum != null">
						<![CDATA[AND COL_NUM = #{colNum,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="parentId != null">
						<![CDATA[AND PARENT_ID = #{parentId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="formLayout != null and formLayout != ''">
						<!--
						<![CDATA[AND FORM_LAYOUT = #{formLayout,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND FORM_LAYOUT LIKE '%' || #{formLayout,jdbcType=VARCHAR} || '%']]>
				   </if>
		</where>
	</sql>
	
 
  
  <select id="queryByCond" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.drawModule.DrawModuleInfoBean" >
    select <include refid="Base_Column_List" />
    from T_DRAW_MODULE_INFO
	<include refid="Base_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 以上都是自动生成的代码，请勿随意改动， 自定义的方法写在下面，避免重新生成时混淆 ，也有助于快速找回自定义方法 -->
     
  
</mapper>

