<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chinatelecom.jx.zone.management.dao.mybatis.mapper.investigationInfo.InvestigationInfoMainMapper" >

	<resultMap id="BaseResultMap" type="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
    	<id column="ID" jdbcType="DECIMAL" property="id"/>
    	<result column="FORM_ID" jdbcType="DECIMAL" property="formId"/>
    	<result column="INVESTIGATION_NAME" jdbcType="VARCHAR" property="investigationName"/>
    	<result column="ACCOUNT_ID" jdbcType="DECIMAL" property="accountId"/>
    	<result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName"/>
    	<result column="QR_CODE" jdbcType="VARCHAR" property="qrCode"/>
    	<result column="INVESTIGATION_URL" jdbcType="VARCHAR" property="investigationUrl"/>
    	<result column="ISANONYMOUS" jdbcType="DECIMAL" property="isanonymous"/>
    	<result column="ISCOUNT" jdbcType="DECIMAL" property="iscount"/>
    	<result column="STATUS" jdbcType="DECIMAL" property="status"/>
    	<result column="PUBLISH_TIME" jdbcType="TIMESTAMP" property="publishTime"/>
    	<result column="END_TIME" jdbcType="TIMESTAMP" property="endTime"/>
    	<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    	<result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    	<result column="EXTEND1" jdbcType="VARCHAR" property="extend1"/>
    	<result column="EXTEND2" jdbcType="VARCHAR" property="extend2"/>
    	<result column="EXTEND3" jdbcType="VARCHAR" property="extend3"/>
    	
	</resultMap>
	
	<!--
	<resultMap id="ResultMapWithForeign" type="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean" extends="BaseResultMap" >
			 <result column="workProcessid" property="workProcessid" jdbcType="VARCHAR" />
			 <result column="currentState" property="currentState" jdbcType="VARCHAR" />
       <result column="organizationName" property="orgName" jdbcType="VARCHAR" />
        <result column="companyName" property="companyName" jdbcType="VARCHAR" />
       <result column="accountName" property="accountName" jdbcType="VARCHAR" />
       <result column="parkName" property="parkName" jdbcType="VARCHAR" />
  </resultMap>
  -->
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		ID,FORM_ID,INVESTIGATION_NAME,ACCOUNT_ID,ACCOUNT_NAME,QR_CODE,INVESTIGATION_URL,ISANONYMOUS,ISCOUNT,STATUS,PUBLISH_TIME,END_TIME,CREATE_TIME,REMARK,EXTEND1,EXTEND2,EXTEND3
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_INVESTIGATION_INFO_MAIN
    where 
				ID = #{id,jdbcType=DECIMAL} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        DELETE FROM T_INVESTIGATION_INFO_MAIN WHERE
				ID = #{id,jdbcType=DECIMAL} 
    </delete>

	<insert id="insert" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
        INSERT INTO T_INVESTIGATION_INFO_MAIN (
        	ID ,
        	FORM_ID ,
        	INVESTIGATION_NAME ,
        	ACCOUNT_ID ,
        	ACCOUNT_NAME ,
        	QR_CODE ,
        	INVESTIGATION_URL ,
        	ISANONYMOUS ,
        	ISCOUNT ,
        	STATUS ,
        	PUBLISH_TIME ,
        	END_TIME ,
        	CREATE_TIME ,
        	REMARK ,
        	EXTEND1 ,
        	EXTEND2 ,
        	EXTEND3 
        ) VALUES (
        	#{id,jdbcType=DECIMAL} ,
        	#{formId,jdbcType=DECIMAL} ,
        	#{investigationName,jdbcType=VARCHAR} ,
        	#{accountId,jdbcType=DECIMAL} ,
        	#{accountName,jdbcType=VARCHAR} ,
        	#{qrCode,jdbcType=VARCHAR} ,
        	#{investigationUrl,jdbcType=VARCHAR} ,
        	#{isanonymous,jdbcType=DECIMAL} ,
        	#{iscount,jdbcType=DECIMAL} ,
        	#{status,jdbcType=DECIMAL} ,
        	#{publishTime,jdbcType=TIMESTAMP} ,
        	#{endTime,jdbcType=TIMESTAMP} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{remark,jdbcType=VARCHAR} ,
        	#{extend1,jdbcType=VARCHAR} ,
        	#{extend2,jdbcType=VARCHAR} ,
        	#{extend3,jdbcType=VARCHAR} 
        )
	</insert>
	
	<insert id="insertSelective" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
    insert into T_INVESTIGATION_INFO_MAIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
    		<if test="id != null" >
        ID,
      	</if>
    		<if test="formId != null" >
        FORM_ID,
      	</if>
    		<if test="investigationName != null" >
        INVESTIGATION_NAME,
      	</if>
    		<if test="accountId != null" >
        ACCOUNT_ID,
      	</if>
    		<if test="accountName != null" >
        ACCOUNT_NAME,
      	</if>
    		<if test="qrCode != null" >
        QR_CODE,
      	</if>
    		<if test="investigationUrl != null" >
        INVESTIGATION_URL,
      	</if>
    		<if test="isanonymous != null" >
        ISANONYMOUS,
      	</if>
    		<if test="iscount != null" >
        ISCOUNT,
      	</if>
    		<if test="status != null" >
        STATUS,
      	</if>
    		<if test="publishTime != null" >
        PUBLISH_TIME,
      	</if>
    		<if test="endTime != null" >
        END_TIME,
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME,
      	</if>
    		<if test="remark != null" >
        REMARK,
      	</if>
    		<if test="extend1 != null" >
        EXTEND1,
      	</if>
    		<if test="extend2 != null" >
        EXTEND2,
      	</if>
    		<if test="extend3 != null" >
        EXTEND3,
      	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="id != null" >
        #{id,jdbcType=DECIMAL},
      	</if>
    		<if test="formId != null" >
        #{formId,jdbcType=DECIMAL},
      	</if>
    		<if test="investigationName != null" >
        #{investigationName,jdbcType=VARCHAR},
      	</if>
    		<if test="accountId != null" >
        #{accountId,jdbcType=DECIMAL},
      	</if>
    		<if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      	</if>
    		<if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      	</if>
    		<if test="investigationUrl != null" >
        #{investigationUrl,jdbcType=VARCHAR},
      	</if>
    		<if test="isanonymous != null" >
        #{isanonymous,jdbcType=DECIMAL},
      	</if>
    		<if test="iscount != null" >
        #{iscount,jdbcType=DECIMAL},
      	</if>
    		<if test="status != null" >
        #{status,jdbcType=DECIMAL},
      	</if>
    		<if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      	</if>
    		<if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      	</if>
    		<if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      	</if>
    		<if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      	</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
    update T_INVESTIGATION_INFO_MAIN
    <set >
    		<if test="formId != null" >
        FORM_ID = #{formId,jdbcType=DECIMAL},
      	</if>
    		<if test="investigationName != null" >
        INVESTIGATION_NAME = #{investigationName,jdbcType=VARCHAR},
      	</if>
    		<if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=DECIMAL},
      	</if>
    		<if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      	</if>
    		<if test="qrCode != null" >
        QR_CODE = #{qrCode,jdbcType=VARCHAR},
      	</if>
    		<if test="investigationUrl != null" >
        INVESTIGATION_URL = #{investigationUrl,jdbcType=VARCHAR},
      	</if>
    		<if test="isanonymous != null" >
        ISANONYMOUS = #{isanonymous,jdbcType=DECIMAL},
      	</if>
    		<if test="iscount != null" >
        ISCOUNT = #{iscount,jdbcType=DECIMAL},
      	</if>
    		<if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      	</if>
    		<if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      	</if>
    		<if test="extend1 != null" >
        EXTEND1 = #{extend1,jdbcType=VARCHAR},
      	</if>
    		<if test="extend2 != null" >
        EXTEND2 = #{extend2,jdbcType=VARCHAR},
      	</if>
    		<if test="extend3 != null" >
        EXTEND3 = #{extend3,jdbcType=VARCHAR},
      	</if>
    </set>
    where 
      ID = #{id,jdbcType=DECIMAL} 
  </update>
  
	<update id="updateByPrimaryKey" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
      UPDATE T_INVESTIGATION_INFO_MAIN SET
        FORM_ID = #{formId,jdbcType=DECIMAL} ,
        INVESTIGATION_NAME = #{investigationName,jdbcType=VARCHAR} ,
        ACCOUNT_ID = #{accountId,jdbcType=DECIMAL} ,
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR} ,
        QR_CODE = #{qrCode,jdbcType=VARCHAR} ,
        INVESTIGATION_URL = #{investigationUrl,jdbcType=VARCHAR} ,
        ISANONYMOUS = #{isanonymous,jdbcType=DECIMAL} ,
        ISCOUNT = #{iscount,jdbcType=DECIMAL} ,
        STATUS = #{status,jdbcType=DECIMAL} ,
        PUBLISH_TIME = #{publishTime,jdbcType=TIMESTAMP} ,
        END_TIME = #{endTime,jdbcType=TIMESTAMP} ,
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
        REMARK = #{remark,jdbcType=VARCHAR} ,
        EXTEND1 = #{extend1,jdbcType=VARCHAR} ,
        EXTEND2 = #{extend2,jdbcType=VARCHAR} ,
        EXTEND3 = #{extend3,jdbcType=VARCHAR} 
      WHERE 
        ID = #{id,jdbcType=DECIMAL} 
	</update>
	
	<sql id="Base_Where_Clause">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	        
		       <if test="id != null">
						<![CDATA[AND ID = #{id,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="formId != null">
						<![CDATA[AND FORM_ID = #{formId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="investigationName != null and investigationName != ''">
						<!--
						<![CDATA[AND INVESTIGATION_NAME = #{investigationName,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND INVESTIGATION_NAME LIKE '%' || #{investigationName,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="accountId != null">
						<![CDATA[AND ACCOUNT_ID = #{accountId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="accountName != null and accountName != ''">
						<!--
						<![CDATA[AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND ACCOUNT_NAME LIKE '%' || #{accountName,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="qrCode != null and qrCode != ''">
						<!--
						<![CDATA[AND QR_CODE = #{qrCode,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND QR_CODE LIKE '%' || #{qrCode,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="investigationUrl != null and investigationUrl != ''">
						<!--
						<![CDATA[AND INVESTIGATION_URL = #{investigationUrl,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND INVESTIGATION_URL LIKE '%' || #{investigationUrl,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="isanonymous != null">
						<![CDATA[AND ISANONYMOUS = #{isanonymous,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="iscount != null">
						<![CDATA[AND ISCOUNT = #{iscount,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="status != null">
						<![CDATA[AND STATUS = #{status,jdbcType=DECIMAL}]]>
				   </if>
	        
	        
	        
	        
		       <if test="remark != null and remark != ''">
						<!--
						<![CDATA[AND REMARK = #{remark,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND REMARK LIKE '%' || #{remark,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="extend1 != null and extend1 != ''">
						<!--
						<![CDATA[AND EXTEND1 = #{extend1,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND EXTEND1 LIKE '%' || #{extend1,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="extend2 != null and extend2 != ''">
						<!--
						<![CDATA[AND EXTEND2 = #{extend2,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND EXTEND2 LIKE '%' || #{extend2,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="extend3 != null and extend3 != ''">
						<!--
						<![CDATA[AND EXTEND3 = #{extend3,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND EXTEND3 LIKE '%' || #{extend3,jdbcType=VARCHAR} || '%']]>
				   </if>
		</where>
	</sql>
	
 
  
  <select id="queryByCond" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean" >
    select <include refid="Base_Column_List" />
    from T_INVESTIGATION_INFO_MAIN
	<include refid="Base_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- 以上都是自动生成的代码，请勿随意改动， 自定义的方法写在下面，避免重新生成时混淆 ，也有助于快速找回自定义方法 -->
  
  <select id="queryAllList" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean" >
  	select <include refid="Base_Column_List" />
    from T_INVESTIGATION_INFO_MAIN
	<where>
		<if test="statusArray != null and statusArray != ''">
			and status in
		    <foreach item="item" index="index" collection="statusArray" open="(" separator="," close=")">  
		        #{item}  
		    </foreach> 
		</if>
		<if test="accountId != null">
			<![CDATA[AND ACCOUNT_ID = #{accountId,jdbcType=DECIMAL}]]>
		</if>
		<if test="investigationName != null and investigationName != ''">
			<![CDATA[AND INVESTIGATION_NAME LIKE '%' || #{investigationName,jdbcType=VARCHAR} || '%']]>
		</if>
	</where>
  	<if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>   
  
  
  
  <select id="queryEnterList" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean" >
  	select a.* 
    from T_INVESTIGATION_INFO_MAIN a 
    where a.id in 
    (select investigation_id from T_INVESTIGATION_INFO_EXAMPLE b  where b.account_Id = #{accountId,jdbcType=DECIMAL})
    <if test="statusArray != null and statusArray != ''">
		and a.status in
	    <foreach item="item" index="index" collection="statusArray" open="(" separator="," close=")">  
	        #{item}  
	    </foreach> 
	</if>
	
    <if test="investigationName != null and investigationName != ''">
		AND a.INVESTIGATION_NAME LIKE '%' || #{investigationName,jdbcType=VARCHAR} || '%'
	</if>
	order by a.create_time DESC 
  </select> 
  
   <select id="queryTotalSize" resultType="java.lang.Integer" parameterType="com.chinatelecom.jx.zone.management.bean.investigationInfo.InvestigationInfoMainBean">
  	select count(1) from T_INVESTIGATION_INFO_MAIN 
  	<include refid="Base_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="modelCopyMainInfo" statementType="CALLABLE">
		{call PKG_INPUT.p_run_form_input(
		#{p_pre_formid,mode=IN,jdbcType=VARCHAR},#{p_new_formid,mode=IN,jdbcType=VARCHAR}
		,#{p_result,mode=OUT,jdbcType=VARCHAR},#{p_resultdesc,mode=OUT,jdbcType=VARCHAR})}
	</select>
  
</mapper>

