@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, 
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
	color: #5e5e5e;
	background:#fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, button, input, select, textarea {
    font: 14px/1.5 arial,"Microsoft YaHei";
}
a:hover, a:visited, a:link, a:active {
    text-decoration:none;
	color:#000;
}
/* div {
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
} */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{zoom:1} 
img,span {vertical-align:middle;}

.create_main {
	width:100%;
}
.create_content {
	/* width:85%; */
	width:1137px;
	margin:10px auto;
	border:1px solid #ccc;
	padding:20px;
}
.titleName {
	border-bottom:1px solid #ccc;
}
.titleName ul{list-style-type:none; position:relative; top:3px; margin-left:5px;}  
.titleName ul li{float:left; text-align:center; font-weight:bold; margin-right:20px; padding:1px 10px;}
.titleName ul li a{text-decoration:none; font-size:20px; font-weight:bold;}
.titleClick { border-bottom:5px solid #F14241;}
.create_inputBar {
	width:82%;
	margin:20px auto;
}
.create_input {
	margin-bottom:15px;
}
.redStar {
	float:left;
	color:#FF0000;
}
.create_attr {
	float:left;
	margin-left:10px;
	width:56px;
}
.inputContral {
	float:left;
	margin-left:15px;
}
.selectContral {
	float:left;
	margin-left:15px;
	padding:2px 0;
}
.uploadImgContral {
	float:left;
	margin-left:15px;
}
.uploadImgTips {
	float:left;
	margin-left:15px;
	font-size:12px;
	color:#aaa;
}
.uploadAttachBtn {
	float:left;
	border:1px solid #f14241;
	color:#f14241;
	margin-left:5px;
	padding:1px 15px;
	background-color:#fff;
	cursor:pointer;
}
.laydateContral {
	float:left;
	margin-left:15px;
	height: 22px;
}
.addNodeBtn {
	float:left;
	border:1px solid #f14241;
	color:#f14241;
	margin-left:5px;
	padding:1px 15px;
	background-color:#fff;
	cursor:pointer;
}
.timeNode {
	background-color:#fafafb;
	border: 1px solid #e7eaec;
	border-radius: 2px;
	margin: 0 0 10px;
	padding: 10px;
}
.conduct_element {
	border-left: 3px solid #1c84c6;
}
.success_element {
	border-left: 3px solid #1ab394;
}
.warning_element {
	border-left: 3px solid #f8ac59;
}
.danger_element {
	border-left: 3px solid #ed5565;
}
.timeNodeBottom {
	font-size: 12px;
	margin-top: 5px;
}
.deleteNodeBtn {
	float: right;
	border-radius: 3px;
	font-size: 12px;
	line-height: 1.5;
	padding: 1px 5px;
	background-color: #fff;
	border: 1px solid #e7eaec;
}
.img_contral_t1 {
	position:relative;
	top:1px;
	right:1px;
}
.redBtnContral {
	background-color:#f14241;
	border:1px solid #f14241;
	color:#fff;
	width:100px;
	float:right;
	padding:3px 0;
	cursor:pointer;
}
.grayBtnContral {
	background-color:#F2F2F2;
	border:1px solid #E2E2E2;
	margin-right:10px;
	width:100px;
	float:right;
	padding:3px 0;
	cursor:pointer;
}