@charset "utf-8";
/* CSS Document */
/* 返回按钮 */
.backBtn {
	position: fixed;
	bottom: 60px;
	left: 15px;
	width: 50px;
	height: 50px;
	background: url(../images/fanhui.png) no-repeat center center;
	-webkit-background-size: 100%;
	background-size: 100%;
	z-index: 999;
}

.navigationBar {
	width:100%;
	height:55px;
	position:fixed;
	left:0;
	bottom:0;
	line-height:50px;
	background-color:#FFF;
	border-top:1px solid #DBDBDB;
}
.navigationBar ul li {
	width:33.3%;
	float:left;
	text-align:center;
}
.navigationBar ul li a {
	text-decoration:none;
	color:#7B7B7B;
	font-size:12px;
}
.navImage {
	height:12px;
}
.navTitle {
	margin-top:5px;
}
#viewMore{ position:absolute; bottom:50px; right:105px; line-height:1.4;} 
#viewMore ul{ background:#fff; border:1px solid #ccc; position:absolute; display:none; margin-top:-40px;} 
#viewMore ul li { width:100px; text-align:center; font-weight:bold;}
#viewMore ul li a{display:block; color:#807a62; text-decoration:none; font-size:14px; padding:12px 0;} 
