@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, 
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
	color: #5e5e5e;
	background:#fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, button, input, select, textarea {
    font: 14px/1.5 arial,"黑体";
}

html {
	background-color:#ebebeb;
}
.collection_main {
	background-color:#ebebeb;
	position:relative;
}
.collection_content {
	width:100%;
	background-color:#ebebeb;
	position:relative;
	margin:60px 0 60px;
}
.fixed_top1 {
	position:fixed;
	top:0;
	background-color:#06B8C2;
	width:100%;
	height:50px;
	z-index:1000;
	font-weight:bold;
}
.fixed_top1 img {
	margin:18px 5px 0 10px;
}
.fixed_top1 span {
	position:absolute;
	top:14px;
	font-size:16px;
	color:#FFF;
}
.fixed_top2 {
	position:fixed;
	top:0;
	background-color:#FDC006;
	width:100%;
	height:50px;
	z-index:1000;
	font-weight:bold;
}
.fixed_top2 img {
	margin:15px 5px 0 10px;
}
.fixed_top2 span {
	position:absolute;
	top:14px;
	font-size:16px;
	color:#FFF;
}
.collection_operBar {
	background-color:#fff;
	border-top:1px solid #f6f6f6;
	border-bottom:1px solid #f6f6f6;
	text-align:center;
}
.collection_oper {
	float:left;
	padding:7px 0;
	font-size:14px;
}
.borRight {
	border-right:1px solid #f6f6f6;
}
.borLeft {
	border-left:1px solid #f6f6f6;
}

.industry_cont {
	padding:2% 1% 0;
	background-color:#fff;
}
.industry_dataBar {
	width:48%;
	margin:0 1% 2%;
	float:left;
}
.industry_title {
	font-size:12px;
	color:#5e5e5e;
}
.industry_data {}
.industry_price {
	float:left;
	background-color:#F04444;
	color:#fff;
	padding:0 4px 0 2px;
	margin-right:2px;
}
.contChange {
	padding:1% 0;
}
.dataBarChange {
	width:98%;
	border-bottom:1px solid #e6e6e6;
}
.imgChange {
	float:left;
}
.titleChange {
	margin-left:120px;
}
.dataChange {
	position:relative;
	margin-top:20px;
}
.priceChange {
	margin-left:10px;
}