<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.chinatelecom.jx.zone.management.dao.mybatis.mapper.projectActivity.ProjectActivityCommentMapper" >

	<resultMap id="BaseResultMap" type="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
    	<id column="COMMENT_ID" jdbcType="DECIMAL" property="commentId"/>
    	<result column="ACTIVITY_ID" jdbcType="DECIMAL" property="activityId"/>
    	<result column="COMMENT_ACCOUNT" jdbcType="DECIMAL" property="commentAccount"/>
    	<result column="COMMENT_USER" jdbcType="VARCHAR" property="commentUser"/>
    	<result column="COMMENT_CONTENT" jdbcType="VARCHAR" property="commentContent"/>
    	<result column="COMMENT_TIME" jdbcType="TIMESTAMP" property="commentTime"/>
    	<result column="REPLY_ID" jdbcType="DECIMAL" property="replyId"/>
    	<result column="REPLY_ACCOUNT" jdbcType="DECIMAL" property="replyAccount"/>
    	<result column="REPLAY_USER" jdbcType="VARCHAR" property="replayUser"/>
    	<result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    	<result column="SORT_GRADE" jdbcType="DECIMAL" property="sortGrade"/>
    	<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    	<result column="IMAGE_URL" jdbcType="VARCHAR" property="imageUrl"/>
    	<result column="KIND" jdbcType="DECIMAL" property="kind"/>
    	<result column="REPLY_COMMENT_ID" jdbcType="DECIMAL" property="replyCommentId"/>
	</resultMap>
	
	<!--
	<resultMap id="ResultMapWithForeign" type="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean" extends="BaseResultMap" >
			 <result column="workProcessid" property="workProcessid" jdbcType="VARCHAR" />
			 <result column="currentState" property="currentState" jdbcType="VARCHAR" />
       <result column="organizationName" property="orgName" jdbcType="VARCHAR" />
        <result column="companyName" property="companyName" jdbcType="VARCHAR" />
       <result column="accountName" property="accountName" jdbcType="VARCHAR" />
       <result column="parkName" property="parkName" jdbcType="VARCHAR" />
  </resultMap>
  -->
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		COMMENT_ID,ACTIVITY_ID,COMMENT_ACCOUNT,COMMENT_USER,COMMENT_CONTENT,COMMENT_TIME,REPLY_ID,REPLY_ACCOUNT,REPLAY_USER,REMARK,SORT_GRADE,CREATE_TIME,KIND,REPLY_COMMENT_ID
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_PROJECT_ACTIVITY_COMMENT
    where 
				COMMENT_ID = #{commentId,jdbcType=DECIMAL} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        DELETE FROM T_PROJECT_ACTIVITY_COMMENT WHERE
				COMMENT_ID = #{commentId,jdbcType=DECIMAL} 
    </delete>

	<insert id="insert" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
        INSERT INTO T_PROJECT_ACTIVITY_COMMENT (
        	COMMENT_ID ,
        	ACTIVITY_ID ,
        	COMMENT_ACCOUNT ,
        	COMMENT_USER ,
        	COMMENT_CONTENT ,
        	COMMENT_TIME ,
        	REPLY_ID ,
        	REPLY_ACCOUNT ,
        	REPLAY_USER ,
        	REMARK ,
        	SORT_GRADE ,
        	CREATE_TIME ,
        	KIND,
        	REPLY_COMMENT_ID
        ) VALUES (
        	#{commentId,jdbcType=DECIMAL} ,
        	#{activityId,jdbcType=DECIMAL} ,
        	#{commentAccount,jdbcType=DECIMAL} ,
        	#{commentUser,jdbcType=VARCHAR} ,
        	#{commentContent,jdbcType=VARCHAR} ,
        	#{commentTime,jdbcType=TIMESTAMP} ,
        	#{replyId,jdbcType=DECIMAL} ,
        	#{replyAccount,jdbcType=DECIMAL} ,
        	#{replayUser,jdbcType=VARCHAR} ,
        	#{remark,jdbcType=VARCHAR} ,
        	#{sortGrade,jdbcType=DECIMAL} ,
        	#{createTime,jdbcType=TIMESTAMP} ,
        	#{kind,jdbcType=DECIMAL},  
        	#{replyCommentId,jdbcType=DECIMAL}  
        )
	</insert>
	
	<insert id="insertSelective" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
    insert into T_PROJECT_ACTIVITY_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
    		<if test="commentId != null" >
        COMMENT_ID,
      	</if>
    		<if test="activityId != null" >
        ACTIVITY_ID,
      	</if>
    		<if test="commentAccount != null" >
        COMMENT_ACCOUNT,
      	</if>
    		<if test="commentUser != null" >
        COMMENT_USER,
      	</if>
    		<if test="commentContent != null" >
        COMMENT_CONTENT,
      	</if>
    		<if test="commentTime != null" >
        COMMENT_TIME,
      	</if>
    		<if test="replyId != null" >
        REPLY_ID,
      	</if>
    		<if test="replyAccount != null" >
        REPLY_ACCOUNT,
      	</if>
    		<if test="replayUser != null" >
        REPLAY_USER,
      	</if>
    		<if test="remark != null" >
        REMARK,
      	</if>
    		<if test="sortGrade != null" >
        SORT_GRADE,
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME,
      	</if>
      	<if test="kind != null" >
        KIND,
      	</if>
      	<if test="replyCommentId != null" >
        REPLY_COMMENT_ID,
      	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    		<if test="commentId != null" >
        #{commentId,jdbcType=DECIMAL},
      	</if>
    		<if test="activityId != null" >
        #{activityId,jdbcType=DECIMAL},
      	</if>
    		<if test="commentAccount != null" >
        #{commentAccount,jdbcType=DECIMAL},
      	</if>
    		<if test="commentUser != null" >
        #{commentUser,jdbcType=VARCHAR},
      	</if>
    		<if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      	</if>
    		<if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="replyId != null" >
        #{replyId,jdbcType=DECIMAL},
      	</if>
    		<if test="replyAccount != null" >
        #{replyAccount,jdbcType=DECIMAL},
      	</if>
    		<if test="replayUser != null" >
        #{replayUser,jdbcType=VARCHAR},
      	</if>
    		<if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      	</if>
    		<if test="sortGrade != null" >
        #{sortGrade,jdbcType=DECIMAL},
      	</if>
    		<if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      	</if>
      	<if test="kind != null" >
        #{kind,jdbcType=DECIMAL},
      	</if>
      	<if test="replyCommentId != null" >
        #{replyCommentId,jdbcType=DECIMAL},
      	</if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
    update T_PROJECT_ACTIVITY_COMMENT
    <set >
    		<if test="activityId != null" >
        ACTIVITY_ID = #{activityId,jdbcType=DECIMAL},
      	</if>
    		<if test="commentAccount != null" >
        COMMENT_ACCOUNT = #{commentAccount,jdbcType=DECIMAL},
      	</if>
    		<if test="commentUser != null" >
        COMMENT_USER = #{commentUser,jdbcType=VARCHAR},
      	</if>
    		<if test="commentContent != null" >
        COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR},
      	</if>
    		<if test="commentTime != null" >
        COMMENT_TIME = #{commentTime,jdbcType=TIMESTAMP},
      	</if>
    		<if test="replyId != null" >
        REPLY_ID = #{replyId,jdbcType=DECIMAL},
      	</if>
    		<if test="replyAccount != null" >
        REPLY_ACCOUNT = #{replyAccount,jdbcType=DECIMAL},
      	</if>
    		<if test="replayUser != null" >
        REPLAY_USER = #{replayUser,jdbcType=VARCHAR},
      	</if>
    		<if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      	</if>
    		<if test="sortGrade != null" >
        SORT_GRADE = #{sortGrade,jdbcType=DECIMAL},
      	</if>
    		<if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      	</if>
      	<if test="kind != null" >
        KIND = #{kind,jdbcType=DECIMAL},
      	</if>
      	<if test="replyCommentId != null" >
        REPLY_COMMENT_ID = #{replyCommentId,jdbcType=DECIMAL},
      	</if>
    </set>
    where 
      COMMENT_ID = #{commentId,jdbcType=DECIMAL} 
  </update>
  
	<update id="updateByPrimaryKey" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
      UPDATE T_PROJECT_ACTIVITY_COMMENT SET
        ACTIVITY_ID = #{activityId,jdbcType=DECIMAL} ,
        COMMENT_ACCOUNT = #{commentAccount,jdbcType=DECIMAL} ,
        COMMENT_USER = #{commentUser,jdbcType=VARCHAR} ,
        COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR} ,
        COMMENT_TIME = #{commentTime,jdbcType=TIMESTAMP} ,
        REPLY_ID = #{replyId,jdbcType=DECIMAL} ,
        REPLY_ACCOUNT = #{replyAccount,jdbcType=DECIMAL} ,
        REPLAY_USER = #{replayUser,jdbcType=VARCHAR} ,
        REMARK = #{remark,jdbcType=VARCHAR} ,
        SORT_GRADE = #{sortGrade,jdbcType=DECIMAL} ,
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP} ,
        KIND = #{kind,jdbcType=DECIMAL},
        REPLY_COMMENT_ID = #{replyCommentId,jdbcType=DECIMAL}
      WHERE 
        COMMENT_ID = #{commentId,jdbcType=DECIMAL} 
	</update>
	
	<sql id="Base_Where_Clause">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	        
		       <if test="commentId != null">
						<![CDATA[AND COMMENT_ID = #{commentId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="activityId != null">
						<![CDATA[AND ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="commentAccount != null">
						<![CDATA[AND COMMENT_ACCOUNT = #{commentAccount,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="commentUser != null and commentUser != ''">
						<!--
						<![CDATA[AND COMMENT_USER = #{commentUser,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND COMMENT_USER LIKE '%' || #{commentUser,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="commentContent != null and commentContent != ''">
						<!--
						<![CDATA[AND COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND COMMENT_CONTENT LIKE '%' || #{commentContent,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
	        
		       <if test="replyId != null">
						<![CDATA[AND REPLY_ID = #{replyId,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="replyAccount != null">
						<![CDATA[AND REPLY_ACCOUNT = #{replyAccount,jdbcType=DECIMAL}]]>
				   </if>
	        
		       <if test="replayUser != null and replayUser != ''">
						<!--
						<![CDATA[AND REPLAY_USER = #{replayUser,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND REPLAY_USER LIKE '%' || #{replayUser,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="remark != null and remark != ''">
						<!--
						<![CDATA[AND REMARK = #{remark,jdbcType=VARCHAR}]]>
						-->
						<![CDATA[AND REMARK LIKE '%' || #{remark,jdbcType=VARCHAR} || '%']]>
				   </if>
	        
		       <if test="sortGrade != null">
						<![CDATA[AND SORT_GRADE = #{sortGrade,jdbcType=DECIMAL}]]>
				   </if>
	        <if test="kind != null">
						<![CDATA[AND KIND = #{kind,jdbcType=DECIMAL}]]>
				   </if>
	        <if test="replyCommentId != null">
						<![CDATA[AND REPLY_COMMENT_ID = #{replyCommentId,jdbcType=DECIMAL}]]>
				   </if>
		</where>
	</sql>
	
	<!--
	<sql id="Extends_Where_Clause" >
    <where>	      				
		       <if test="commentId != null">
						AND a.COMMENT_ID = #{commentId,jdbcType=DECIMAL}
				   </if>
		       <if test="activityId != null">
						AND a.ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
				   </if>
		       <if test="commentAccount != null">
						AND a.COMMENT_ACCOUNT = #{commentAccount,jdbcType=DECIMAL}
				   </if>
		       <if test="commentUser != null and commentUser != ''">
						AND a.COMMENT_USER = #{commentUser,jdbcType=VARCHAR}
						AND a.COMMENT_USER LIKE '%' || #{commentUser,jdbcType=VARCHAR} || '%'
				   </if>
		       <if test="commentContent != null and commentContent != ''">
						AND a.COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR}
						AND a.COMMENT_CONTENT LIKE '%' || #{commentContent,jdbcType=VARCHAR} || '%'
				   </if>
		        <if test="geCommentTime != null and geCommentTime != ''">
						<![CDATA[AND to_char(a.COMMENT_TIME,'yyyy-MM-dd HH24:mi:ss') >= #{geCommentTime} || ' 00:00:00']]>
				   </if>
		       <if test="leCommentTime != null and leCommentTime != ''">
						<![CDATA[AND to_char(a.COMMENT_TIME,'yyyy-MM-dd HH24:mi:ss') <= #{leCommentTime} || ' 23:59:59']]>
				   </if>
		       <if test="replyId != null">
						AND a.REPLY_ID = #{replyId,jdbcType=DECIMAL}
				   </if>
		       <if test="replyAccount != null">
						AND a.REPLY_ACCOUNT = #{replyAccount,jdbcType=DECIMAL}
				   </if>
		       <if test="replayUser != null and replayUser != ''">
						AND a.REPLAY_USER = #{replayUser,jdbcType=VARCHAR}
						AND a.REPLAY_USER LIKE '%' || #{replayUser,jdbcType=VARCHAR} || '%'
				   </if>
		       <if test="remark != null and remark != ''">
						AND a.REMARK = #{remark,jdbcType=VARCHAR}
						AND a.REMARK LIKE '%' || #{remark,jdbcType=VARCHAR} || '%'
				   </if>
		       <if test="sortGrade != null">
						AND a.SORT_GRADE = #{sortGrade,jdbcType=DECIMAL}
				   </if>
		        <if test="geCreateTime != null and geCreateTime != ''">
						<![CDATA[AND to_char(a.CREATE_TIME,'yyyy-MM-dd HH24:mi:ss') >= #{geCreateTime} || ' 00:00:00']]>
				   </if>
		       <if test="leCreateTime != null and leCreateTime != ''">
						<![CDATA[AND to_char(a.CREATE_TIME,'yyyy-MM-dd HH24:mi:ss') <= #{leCreateTime} || ' 23:59:59']]>
				   </if>
	      <if test="accountName != null and accountName!=''" >
	        and b.account_name LIKE '%' || ${accountName} || '%'
	      </if>
	      <if test="orgName != null and orgName!=''" >
	        and c.organization_name LIKE '%${orgName}%'
	      </if>
	      <if test="copmanyName != null and copmanyName!=''" >
	        and d.organization_name LIKE '%${copmanyName}%'
	      </if>
	      <if test="parkName != null and parkName!=''" >
	        and e.organization_name LIKE '%${parkName}%'
	      </if>
		</where>
  </sql>
  -->
  
  <select id="queryByCond" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean" >
    select distinct <include refid="Base_Column_List" />
    from T_PROJECT_ACTIVITY_COMMENT
	<include refid="Base_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
   <select id="queryByCommentAccount" resultMap="BaseResultMap" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean" >
    select distinct
		a.COMMENT_ID,
		a.ACTIVITY_ID,
		a.COMMENT_ACCOUNT,
		a.COMMENT_USER,
		a.COMMENT_CONTENT,
		a.COMMENT_TIME,
		a.REPLY_ID,
		a.REPLY_ACCOUNT,
		a.REPLAY_USER,
		a.REMARK,
		a.SORT_GRADE,
		a.CREATE_TIME,
		a.kind,
		b.image_url 
    from T_PROJECT_ACTIVITY_COMMENT a
	left join t_account_image b on a.COMMENT_ACCOUNT = b.account_id 
	where a.ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
	<if test="commentAccount != null">
		<![CDATA[AND a.COMMENT_ACCOUNT = #{commentAccount,jdbcType=DECIMAL}]]>
	</if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  
  <delete id="deleteByCond" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean">
  	delete from T_PROJECT_ACTIVITY_COMMENT 
  	<include refid="Base_Where_Clause" />
  </delete>
  
  <!--
   <select id="queryByCondWithForeign" resultMap="ResultMapWithForeign" parameterType="com.chinatelecom.jx.zone.management.bean.projectActivity.ProjectActivityCommentBean" >
     select a.*,
        w.processinstid as workProcessid,
       w.currentState as currentState,
       b.account_name as accountName,
       c.organization_name as orgName,
       d.organization_name as companyName,
       e.organization_name as parkName
	  from T_PROJECT_ACTIVITY_COMMENT a
	  left join T_ACCOUNT_INFO b on a.account_id = b.account_id
	  left join t_organization_info c on a.organization_id = c.organization_id
	  left join t_organization_info d on a.conpany_id = d.organization_id
	  left join t_organization_info e on a.root_id = e.organization_id
	  inner join zone_workflow.wf_main w
	  on a.id = w.relation_id and a.zt > 0
	<include refid="Extends_Where_Clause" />
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  -->
  
  
  <!--
  <select id="selectWithForeignById" resultMap="ResultMapWithForeign" parameterType="java.math.BigDecimal" >
     select a.*,
       b.account_name as accountName,
       c.organization_name as orgName,
       d.organization_name as companyName,
       e.organization_name as parkName
	  from T_PROJECT_ACTIVITY_COMMENT a
	  left join T_ACCOUNT_INFO b on a.account_id = b.account_id
	  left join t_organization_info c on a.organization_id = c.organization_id
	  left join t_organization_info d on a.conpany_id = d.organization_id
	  left join t_organization_info e on a.root_id = e.organization_id
	  where 
				a.COMMENT_ID = #{commentId,jdbcType=DECIMAL} 
  </select>
  -->
</mapper>

