@charset "utf-8";
/* CSS Document */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, 
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}
body {
    line-height: 1;
	color: #5e5e5e;
	background:#fff;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body, button, input, select, textarea {
    font: 14px/1.5 arial,"Microsoft YaHei";
}
a:hover, a:visited, a:link, a:active {
    text-decoration:none;
	color:#000;
}
/*
div {
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}
*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{zoom:1} 
img,span {vertical-align:middle;}
img {max-width: 100%;}

.share_main {
	width:100%;
}
.share_content {
	width:1137px;
	margin:10px auto;
	position:relative;
}
.details_content {
	/* width:90%; */
	width:1137px;
	margin:10px auto;
	border:1px solid #ccc;
	position:relative;
}
.release_content {
	/* width:85%; */
	width:1137px;
	margin:10px auto;
	border:1px solid #ccc;
	padding:20px;
	position:relative;
}

/*首页*/
.share_contentTop {
	width:1137px;
}
.classify {
	float:left;
	border:1px solid #ccc;
	margin-left:10px;
	height:350px;
	width:341px;
}
.classify_top {
	margin-bottom:20px;
}
/* .classify_title {
	float:left;
	padding:7px 18px;
	background-color:#f14241;
	color:#fff;
	border-radius:0 7px 7px 0;
} */
.classify_more {
	float:right;
	padding:7px 10px;
}
.classify_middle {
	padding:0 10px;
}
.classify_bottom {
	padding:10px;
}
.classify_middle table {width:100%;}
.classify_middle table tr {}
.classify_middle table tr td{border:1px dashed #ccc; width:25%; padding:6px 0;}
.classify_middle table tr td img {vertical-align:middle; margin:0 auto; display: block;}
/* .classify_middle table tr td span {vertical-align:middle; font-size:16px;} */
.classify_middle .middleTitle {font-size:12px; text-align: center;}
.classify_bottom img {display:block;}
.share_contentBottom {
	width:1137px;
}
.share_contLeft {
	float:left;
	width:68.9%;
}
.share_contRight {
	width:30%;
	margin-left:69.8%;
}
.titleName {
	border-bottom:3px solid #ccc;
	padding:5px 0;
}
.titleName ul{list-style-type:none; position:relative; top:7px; margin-left:0px;}  
.titleName ul li{float:left; text-align:center; margin-right:20px; padding:3px 7px;margin-bottom: -1px;}
.titleName ul li a{text-decoration:none; font-size:16px;}
.titleClick { border-bottom:3px solid #f14241;}
.searchBar {
	float:right;
	margin-top:3px;
}
.searchBar input {
	width:200px;
	padding: 4px 10px;
}
.searchBar img {
	position:relative;
	top:-1px;
	right:28px;
	cursor:pointer;
}
.searchOptions {
	margin:5px 10px 0 0px;
}
.optionBtn {
	float:left;
	border:1px solid #ccc;
	color:#646464;
	margin:5px 7px 5px 0;
	padding:2px 7px;
	border-radius:1px;
	cursor:pointer;
	font-size:12px;
	border-radius: 4px;
}
.selected {
	background-color:#f14241;
	color:#fff;
	border:1px solid #f14241;
	border-radius: 4px;
}
.shareDataBar {
	padding:15px 25px 15px 5px;
	position:relative;
	border-bottom:1px dashed #ccc;
}
.shareTitle {
	font-size:18px;
	color:#000;
}
.shareTime {
	position:absolute;
	right:25px;
	top:18px;
	font-size: 12px;
	color:#646464;
}
.shareContent {
	font-size:12px;
	color:#646464;
	line-height:1.4;
	height:50px;
}
.share_companyName {
	font-size:12px;
	color:#aaa;
}
.share_address {
	font-size:12px;
	color:#aaa;
	float:left;
}
.share_browse {
	font-size:12px;
	color:#aaa;
	float:right;
	margin-right:30px;
}
.share_comment {
	font-size:12px;
	color:#aaa;
	float:right;
}
.share_stateBlue {
	float:right;
	background-color:#45A9E4;
	color:#fff;
	border-radius:20px;
	font-size:16px;
	padding:0 15px;
	margin-right:15px;
}
.share_stateGreen {
	float:right;
	background-color:#f14241;
	color:#fff;
	border-radius:20px;
	font-size:16px;
	padding:0 15px;
	margin-right:15px;
}
.share_stateGray {
	float:right;
	background-color:#B3B3B3;
	color:#fff;
	border-radius:20px;
	font-size:16px;
	padding:0 15px;
	margin-right:15px;
}
.deleteOper {
	float:right;
	text-decoration:underline!important;
	color:#f14241!important;
}
.recommendItem {
	position:absolute;
	top:0;
	left:0;
}
.renovate{
	display: block;
    text-align: center;
	border:1px solid #e6e6e6;
	padding:7px 0;
}
.renovate:hover{
	background-color:#e6e6e6;
}
.renovateTitle{
	color: #ccc;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}
.buttonBar {
	padding:5px 0;
	text-align:center;
}
.buttonImg {
	position:relative;
	top:-2px;
	margin-right:10px;
}
.buttonContral {
	width:95%;
	border-radius:7px;
	height:70px!important;
	color:#f14241!important;
	font-size:26px!important;
	font-weight:bold!important;
	padding:10px 0!important;
}
.share_rightDataBar {
	margin:10px 0;
	border:1px solid #ccc;
}
.share_rightTop {
	background-color:#F7F7F7;
	border-left:3px solid #f14241;
	position:relative;
	padding:12px 0;
	margin-left:-1px;
}
.share_rightTitle {
	display:inline-block;
	vertical-align:middle;
	color:#404040;
	font-size:18px;
	/* font-weight:bold; */
	margin-left:7px;
}
.share_rightContMore {
	display:inline-block;
	vertical-align:middle;
	margin-left:60%;
	cursor:pointer;
}
.share_rightCont {
	padding:5px 0;
	border-bottom:1px dashed #ccc;
}
.linkImg {
	border-radius:7px;
	cursor:pointer;
}
/*首页*/

/*经验详情*/
.detailsName {
	background-color:#F1F1F1;
}
.detailsName ul{list-style-type:none;}  
.detailsName ul li{float:left; text-align:center; font-weight:bold; padding:10px 0; width:150px;}
.detailsName ul li a{text-decoration:none; font-size:18px; font-weight:bold;}
.detailsClick {background-color:#f14241;}
.detailsClick a {color:#fff;}
.detailsItem {
	/* margin-top:15px; */
	border-top:1px solid #ccc;
	position:relative;
}
.returnPage {
	float:right;
	font-size:16px;
	padding:11px 15px;
}
.detailsTitle {
	float:left;
	font-size:18px;
	font-weight:bold;
	color:#000;
}
.span_contral_t-3 {
	position:relative;
	top:-3px;
}
.showBar {
	background-color:#F0F5F9;
	color:#8A8A8A;
	margin-bottom:7px;
	padding:7px 20px;
}
.detailsDataLeft {
	float:left;
	width:70px;
	text-align:right;
}
.detailsDataRight {
	margin-left:70px;
}
.details_stateBlue {
	background-color:#45A9E4;
	color:#fff;
	border-radius:5px;
	font-size:21px;
	font-weight:bold;
	padding:3px 0;
	width:140px;
}
.details_stateGreen {
	background-color:#f14241;
	color:#fff;
	border-radius:5px;
	font-size:21px;
	font-weight:bold;
	padding:3px 0;
	width:140px;
}
.details_stateGray {
	background-color:#f14241;
	color:#fff;
	border-radius:5px;
	font-size:21px;
	font-weight:bold;
	padding:3px 0;
	width:140px;
}
.commentName {
	border-bottom:1px solid #ccc;
}
.commentName ul{list-style-type:none; position:relative; margin-left:5px;}  
.commentName ul li{float:left; text-align:center; font-weight:bold; margin-right:20px;}
.commentName ul li a{text-decoration:none; font-weight:bold;}
.commentClick { border-bottom:2px solid #3a3d4b;}
.commentItem {
	color:#9c9c9c;
}
.commentInput {
	border:1px solid #ccc;
}
.commentInput textarea {
	width:99%;
	border:0;
	margin:0 4px;
}
.commentInput input {
	padding:3px 25px;
	background-color:#f14241;
	border:0;
	color:#FFF;
}
.commentContral {
	border-top:1px solid #ccc;
	text-align:right;
	padding:3px 4px;
}
.commentArea {
	margin-top:15px;
}
.commentCount {
	float:right;
	font-size:12px;
	color:#9c9c9c;
}
.commentBar {
	padding:30px 0;
	border-bottom:1px solid #ccc;
}
/*经验详情*/

/*分享经验*/
.releaseName {
	border-bottom:1px solid #ccc;
}
.releaseName ul{list-style-type:none; position:relative; top:3px; margin-left:5px;}  
.releaseName ul li{float:left; text-align:center; font-weight:bold; margin-right:20px; padding:1px 10px;}
.releaseName ul li a{text-decoration:none; font-size:20px; font-weight:bold;}
.releaseClick { border-bottom:5px solid #f14241;}
.release_inputBar {
	width:82%;
	margin:20px auto;
}
.release_input {
	margin-bottom:15px;
}
.redStar {
	float:left;
	color:#FF0000;
}
.release_attr {
	float:left;
	margin-left:10px;
	width:56px;
}
.inputBox {
	float:left;
	margin-left:15px;
	border:1px solid #ccc;
}
.selectBox {
	float:left;
	margin-left:15px;
	padding:2px 0;
}
.redTips {
	color:#f14241;
	margin-left:10px;
}
.uploadImgContral {
	float:left;
	margin-left:15px;
}
.uploadImgTips {
	float:left;
	margin-left:15px;
	font-size:12px;
	color:#aaa;
}
.uploadAttachBtn {
	float:left;
	border:1px solid #f14241;
	color:#f14241;
	margin-left:5px;
	padding:1px 15px;
	background-color:#fff;
	cursor:pointer;
}
.uploadAttachBrowse {
	margin:10px 15px;
}
.searchOptionsRel {
	margin-left:15px;
	float:left;
	width: 81.5%;
}
.optionBtnRel {
	float:left;
	border:1px solid #ccc;
	color:#646464;
	margin-right:7px;
	margin-bottom:7px;
	padding:3px 7px;
	border-radius:1px;
	cursor:pointer;
	font-size:12px;
}
.selectedRel {
	background-color:#f14241;
	color:#fff;
	border:1px solid #f14241;
}
/*分享经验*/

/*分享预览*/
.preview_tipBar {
	/* width:90%; */
	width:1137px;
	margin:10px auto 0;
	border:1px solid #FED245;
	background-color:#FDFFD8;
	padding:10px 0;
}
.preview_tip {
	float:left;
	color:#F00;
	margin:5px 15px 0;
}
.greenBtnContral {
	background-color:#f14241;
	border:1px solid #f14241;
	color:#fff;
	width:100px;
	float:right;
	padding:3px 0;
	cursor:pointer;
}
.grayBtnContral {
	background-color:#F2F2F2;
	border:1px solid #E2E2E2;
	margin-right:10px;
	width:100px;
	float:right;
	padding:3px 0;
	cursor:pointer;
}
/*分享预览*/