@charset "utf-8";
/* CSS Document */
/* CSS Document */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, 
del, dfn, em, img,
small, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small { color: inherit;}
body, button, input, select, textarea {
    font: 14px/1.5 arial,"Microsoft YaHei";
}
.fr { float: right;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{zoom:1} 
img,span {vertical-align:middle;}
img { max-width: 100%;}

.fz14 {font-size: 14px !important;}
.fz16 {font-size: 16px !important;}
.redT { color: #ff5a00;}
a:focus, a:hover {
    color: #0de6e6;
    text-decoration: none;
}
.dib {
	display: inline-block;
	vertical-align: middle;
}
.half-w { 
	width: 50%;
	height: 100%;
}
.stop {
	-webkit-animation-play-state:paused !important;
	animation-play-state:paused !important;
}

@font-face{
	font-family: DIN-Medium;
	src: url('../../fonts/DIN-Medium.otf');
}
.row { margin: 0;}
.col-xs-4{ padding: 0;}
.col-xs-4+.col-xs-4 { padding-left: 15px;}

.whiteT {color: #fff !important;}
.drT {color: #E02323 !important;}
.blueT { color: #0de6e6 !important;}
.dbT { color: #30A0F3 !important;}
.yellowT { color: #dfdf07 !important;}
.bgT { color: #03ddfe !important;}
.lgT { color: #00e5a2 !important;}
.greenT { color: #54e97d !important;}
.odT { color: #e79032 !important;}
.orangeT { color: #fdc11b !important;}
.purpleT { color: #e82259 !important;}
.blueBg { background: #2B8DCC !important;}
.greenBg { background: #86B557 !important;}
.orangeBg { background: #FFB54C !important;}

html,body { height: 100%;}
.gray-bg {
	/* background: -webkit-repeating-linear-gradient(to top right, #000, #000 50%, #021b43 90%, #021b43); */
	/* Opera 11.1 - 12.0 */
	/* background: -o-repeating-linear-gradient(to top right, #000, #000 50%, #021b43 90%, #021b43); */
	/* Firefox 3.6 - 15 */
	/* background: -moz-repeating-linear-gradient(to top right, #000, #000 50%, #021b43 90%, #021b43); */
	/* 标准的语法 */
	/* background: repeating-linear-gradient(to top right, #000, #000 50%, #021b43 90%, #021b43); */
  
	background: url(../../image/cityDataCenter/ycNew2/bg.png) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

/* 头部LOGO */
/* .head {
    position: relative;
    padding: 20px 0 10px;
    text-align: center;
}
.time {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
}
.time a { margin-left: 15px;}
.time font {
    margin-left: 5px;
    margin-top: 2px;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    display: inline-block;
} */
/* 头部LOGO */

/* 首页 index*/
.content {
    padding-top: 10px;
	height: -webkit-calc(100% - 70px);
	height: calc(100% - 70px);
}
.floor {
    margin-bottom: 15px;
    height: -webkit-calc(50% - 15px);
    height: calc(50% - 15px);
    font-size: 0;
}
.room {
    display: inline-block;
    vertical-align: top;
    width: -webkit-calc(33.33% - 10px);
    width: calc(33.33% - 10px);
    height: 100%;
}
.room+.room { margin-left: 15px;}
.room-content {
    padding: 20px;
    height: 100%;
    background: #000f30;
}
.second-content { padding-bottom: 0;}
.tab-links {
      font-size: 0;
	
}
.tab-links span {
    font-size: 16px;
    color: #0fa6d2;
    cursor: pointer;
}
.tab-links span+span {
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid;
	-webkit-transition: .5s 0s;
	transition: .5s 0s;
}
.tab-links span:hover,
.tab-links span.on {
	color: #fff;
}
.selects {
    font-size: 0;
    color: #7fe2ff;
}
.selects .select {
    position: relative;
    margin-left: 5px;
    padding: 0 15px;
    font-size: 14px;
    display: inline-block;
}
.selects p {
    cursor: pointer;
}
.selects i {
    margin-left: 10px;
}
.select-items {
    position: absolute;
    right: 0;
    display: none;
    width: 100%;
    background: #000;
    z-index: 1000;
    overflow: hidden;
}
.selects ul {
	display: block;
	padding-right: 1px;
	width: -webkit-calc(100% + 18px);
	width: calc(100% + 18px);
	max-height: 300px;
	overflow-y: scroll;
}
.selects li {
    padding: 10px 0 10px 15px;
    cursor: pointer;
}
.selects li+li { border-top: 1px solid rgba(255,255,255,.3);}
.title-font { 
	font-size: 14px;
	color: #7fe2ff;
}
.tabs {
    padding-top: 23px;
    height: -webkit-calc(100% - 24px);
    height: calc(100% - 24px);
}
.tabs .tab {
	position: relative;
    height: 100%;
    overflow: hidden;
}
.tabs .three-bar{
    font-size: 0;
}
.tabs .span1 {
    padding: 29px 0 10px;
    display: inline-block;
    background: #00417a;
    width: -webkit-calc(33.33% - 10px);
    width: calc(33.33% - 10px);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 1;
}
.tabs .span1+.span1 { margin-left: 15px;}
.center-div {
	display: inline-block;
    text-align: left;
}
.tabs .span1 h1 {
    margin-top: 10px;
    font-size: 36px;
}
.tabs .span1 small {
    font-size: 14px;
}
.chart-box1 {
    padding: 15px;
    margin-top: 15px;
    height: -webkit-calc(100% - 115px);
    height: calc(100% - 115px);
    background: rgba(0,0,0,.3);
}
.chart0 {
    height: -webkit-calc(100% - 24px);
    height: calc(100% - 24px);
}
.companys {
	font-size: 0;
}
.companys span {
    font-size: 16px;
    display: inline-block;
    width: 32%;
    height: 60px;
	background: url(../../image/cityDataCenter/ycNew/company.jpg) no-repeat center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
    line-height: 60px;
    color: #03aefe;
    text-align: center;
}
.companys span+span {
    margin-left: 2%;
}
.electric {
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
}
.el-box {
    position: relative;
    margin-bottom: 15px;
    background: rgba(0,0,0,.3);
    height: -webkit-calc(50% - 15px);
    height: calc(50% - 15px);
    font-size: 0;
}
.el-box .middle-div {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.el-box span {
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 25%;
    border-left: 1px solid #999;
    font-size: 14px;
    color: #fff;
    line-height: 1;
}
.el-box span:first-child {
    padding-left: 30px;
    width: 50%;
    border: none;
}
.el-box h3 {
    font-size: 20px;
}
.el-box h1 {
    margin-top: 15px;
    font-size: 36px;
    font-weight: bold;
}
.el-box small {
	margin-left: 3px;
    font-size: 14px;
    color: #fff;
}
.el-box h2 {
    margin-top: 10px;
    font-size: 26px;
}
.industry {
    height: 31.5%;
    background: rgba(0,0,0,.3);
}
.industry+.industry {
    margin-top: 1.5%;
}
.industry span {
    position: relative;
    padding: 10px 0 10px 15px;
    width: 33.2%;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 1;
}
.industry::after {
    content: '';
    width: 0.4%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.industry span+span {
     border-left: 1px solid #666;
}
.industry span+span::before {
	content: '';
    position: absolute;
    left: -2px;
    top: 0;
    width: 2px;
    height: 5px;
    background: #fff;
}
.industry span h3 {
    margin-left: 20px;
    font-size: 20px;
}
.industry span h3+h3 { margin-top: 5px;}
.industry span p {
	
}
.industry span h2 {
    margin-top: 10px;
    font-size: 26px;
    color: #03ddfe;
}
.industry span small {
	margin-left: 5px;
    font-size: 14px;
    color: #fff;
}
.chart1 { height: 100%;}
.infor-box {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #fff;
}
.project {
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0,78,140,.2);
    line-height: 1;
}
.project h1 {
    margin-top: 10px;
    font-size: 32px;
}
.project small {
    margin-left: 5px;
    font-size: 14px;
}
.orders {
    margin-bottom: 14px;
}
.orders b {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0775c9;
    font-weight: normal;
}
.orders span {
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
    color: #0775c9;
    -webkit-transition: .5s 0s;
    transition: .5s 0s;
    cursor: pointer;
}
.orders span:hover ,
.orders .on { color: #38fd6d;}
.orders img {
    margin-left: 5px;
    vertical-align: initial;
}
.orders img:nth-child(2){ display: none;}
.orders .on img:nth-child(1){ display: none;}
.orders .on img:nth-child(2){ display: inline;}
.industry-list {
    width: -webkit-calc(100% + 18px);
    width: calc(100% + 18px);
    max-height: -webkit-calc(100% - 35px);
    max-height: calc(100% - 35px);
    overflow-y: scroll;
    padding-right: 1px;
}
.industry-item {
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: .5s 0s;
    transition: .5s 0s;
    border: 1px solid transparent;
    overflow: hidden;
}
.industry-list .on{
    border: 1px solid #dfdf07;
    padding: 0 5px;
}
.industry-list .on .typeName{
	color: #dfdf07 !important;
}
.industry-item:hover { color: #fff;}
.industry-item+.industry-item { margin-top: 8px;}
.industry-item span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background: #0577b5;
    border-radius: 4px;
    color: #fff;
}
.industry-item:nth-child(1) span { background: #ef1010;}
.industry-item:nth-child(2) span { background: #f2ae1b;}
.industry-item:nth-child(3) span { background: #049b04;}
.industry-item font {
    width: 100px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0caafc;
    white-space: nowrap;
}
.industry-item img {
    margin-left: 15px;
    width: -webkit-calc(100% - 265px);
    width: calc(100% - 265px);
}
.industry-item b {
    margin-right: 5px;
    font-size: 20px;
}
.statistic {
    height: 70px;
}
.statistic img { max-width: 80%;}
.statistic span {
    position: relative;
    display: inline-block;
    width: 33.33%;
    height: 100%;
    text-align: center;
}
.stac-infor {
    position: absolute;
    font-size: 14px;
    color: #fff;
    width: 100%;
    bottom: -5px;
    line-height: 1.3;
}
.stac-infor b {
    font-size: 20px;
    color: #dfdf07;
}
.count-list {
    margin-top: 20px;
    padding-right: 18px;
    width: -webkit-calc(100% + 18px);
    width: calc(100% + 18px);
    height: -webkit-calc(100% - 85px);
    height: calc(100% - 85px);
    overflow-y: scroll;
}
.count-item+.count-item {
	margin-top: 10px;
}
.count-item font {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    font-size: 14px;
    color: #fff;
    opacity: .5;
    text-align: center;
}
.count-item span {
    margin: 0 20px;
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    height: 14px;
    display: inline-block;
    background: #02194a;
    border-radius: 10px;
    overflow: hidden;
}
.count-item div {
	height: 100%;
	width: 0;
	background: #877efd;
}
.count-item b {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.help-bar {
    height: 100px;
}
.help-bar>span {
    padding: 20px;
    width: 48%;
    display: inline-block;
    background: rgba(0,78,140,.3);
    height: 100%;
    text-align: center;
}
.help-bar>span+span {
      margin-left: 4%;
}
.help-box {
      display: inline-block;
    text-align: left;
}
.help-box img {
      width: 50px;
}
.help-box .help-infor {
      margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    line-height: 1;
}
.help-box .help-infor h1 {
      margin-top: 10px;
    font-size: 36px;
}
.help-box .help-infor small {
    margin-left: 5px;
    font-size: 14px;
    color: #fff;
}
.chart2 {
	margin-top: 10px;
	height: -webkit-calc(100% - 110px);
	height: calc(100% - 110px);
}
.chart3 { height: 100%;}
.map-box {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #007696;
}
.map-box span {
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding: 0 10px;
    height: 28px;
    line-height: 26px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: .5s 0s;
    transition: .5s 0s;
}
.map-box span.on,
.map-box span:hover {
	color: #00e4ff;
}
.dai {
	background: url(../../image/cityDataCenter/ycNew/im.png) no-repeat 50% 110%;
	-webkit-background-size: 120%;
	background-size: 120%;
}
.hot {
    position: absolute;
    width: 28px;
    top: -10px;
    right: -20px;
}
.two-box {
    position: absolute;
    padding: 50px;
    top: 10%;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.two-box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-animation: loop 40s .5s infinite linear;
	animation: loop 40s .5s infinite linear;
}
.two-box .circle2 {
	-webkit-animation: loop 30s .5s infinite linear;
	animation: loop 30s .5s infinite linear;
}
.two-box .circle3 {
	-webkit-animation: loop 20s .5s infinite linear;
	animation: loop 20s .5s infinite linear;
}
.two-box span {
    position: absolute;
    padding: 0 15px;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    border-radius: 5px;
    background: #e12a62;
    cursor: progress;
}
.two-box .main-box1 {
    position: relative;
    padding: 0;
    background: #66bffb;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
}
.two-box .main-box1 font {
	position: absolute;
	top: 50%;
	left: 0;
    display: inline-block;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.two-box span:nth-child(2) {
    top: 10%;
    left: 15%;
}
.two-box span:nth-child(2)::after {
	content: '';
    position: absolute;
    width: 1px;
    height: 150%;
    border-left: 1px dashed #666;
    left: 30px;
    top: 100%;
}
.two-box span:nth-child(3) {
    left: 5%;
    top: 40%;
}
.two-box span:nth-child(2)::before,
.two-box span:nth-child(3)::before {
	content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    border-top: 1px dashed #666;
    left: 100%;
    top: 50%;
}
.two-box span:nth-child(3)::after {
	content: '';
    position: absolute;
    width: 1px;
    height: 150%;
    border-left: 1px dashed #666;
    left: 89px;
    top: 100%;
}
.two-box span:nth-child(4) {
    top: 70%;
    left: 10%;
}
.two-box span:nth-child(5) {
    right: 20%;
    top: 15%;
    background: #e9b10f;
}
.two-box span:nth-child(5)::after {
	content: '';
    position: absolute;
    width: 1px;
    height: 150%;
    border-left: 1px dashed #666;
    right: 30px;
    top: 100%;
}
.two-box span:nth-child(6) {
    right: 15%;
    top: 45%;
    background: #e9b10f;
}
.two-box span:nth-child(6)::after {
	content: '';
    position: absolute;
    width: 1px;
    height: 150%;
    border-left: 1px dashed #666;
    right: 58px;
    top: 100%;
}
.two-box span:nth-child(5)::before,
.two-box span:nth-child(6)::before {
	content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    border-top: 1px dashed #666;
    right: 100%;
    top: 50%;
}
.two-box span:nth-child(7) {
    top: 75%;
    right: 20%;
    background: #239a5e;
}

/* 首页index */

/* 主要经济指标mainEconomicIndex*/
.nav-titleName {
	text-align: left;
	height: 100%;
    padding: 8px 30px 5px 30px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.dataDisplayBar {
	padding-top: 10px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 0;
}
.dataDisplay {
	position: relative;
	padding: 10px 0;
    height: 100px;
	color: #fff;
	/* background: #000f30; */
    background: rgba(0,0,0,0.1);
	display: inline-block;
	vertical-align: top;
	width: 33.33%;
	text-align: center;
	cursor: pointer;
}
.dataMain {
	display: inline-block;
	text-align: left;
	padding: 15px 0 10px 0;
	line-height: 1.4;
}
.dataSecond {
	display: inline-block;
	text-align: left;
	margin-left: 12%;
	border-left: 1px solid #fff;
	line-height: 1;
	padding-left: 10px;
}
.dataMain .dataTitle {font-size: 16px;}
.dataMain .dataValue {font-size: 12px;}
.dataMain .dataValue font {font-size: 30px; font-weight: bold; margin-right: 3px;}
.dataMain .dataValue span {vertical-align: inherit;}
.dataSecond .dataTitle {font-size: 14px;}
.dataSecond .dataValue {font-size: 10px;}
.dataSecond .dataValue font {font-size: 25px; font-weight: bold; margin-right: 3px;}
.dataSecond .dataValue span {vertical-align: inherit;}
.main-content {
	padding-top: 10px;
	height: -webkit-calc(100% - 240px);
	height: calc(100% - 240px);
}
.module {
	margin-bottom: 15px;
    height: -webkit-calc(100% - 15px);
    height: calc(100% - 15px);
    font-size: 0;
}
.module-left {
	display: inline-block;
    vertical-align: top;
    width: -webkit-calc(33.33% - 10px);
    width: calc(33.33% - 10px);
    height: 100%;
}
.module-rightBar {
	display: inline-block;
	width: 66.66%;
	height: 100%;
	margin-left: 10px;
}
.module-right {
	display: inline-block;
	vertical-align: top;
	width: -webkit-calc(100% - 0px);
	width: calc(100% - 0px);
	height: calc(50% - 5px);
}
.module-right+.module-right {
	margin-top: 10px;
}
.module-content {
    padding: 20px;
    height: 100%;
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
    position: relative;
	
}

.cityDataListBar {
	position: relative; 
	height: 100%; 
	overflow: hidden;
}
.cityDataHeader {
	width: 100%;
	height: 30px;
}
.cityDataBox {
	display: inline-block;
	width: 33%;
	height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.cityDataList {
	width: -webkit-calc(100% + 18px);
	width: calc(100% + 18px);
	max-height: -webkit-calc(100% - 30px);
	max-height: calc(100% - 30px);
	overflow-y: scroll;
	padding-right: 1px;
}
.cityDataItem {
	white-space: nowrap;
	-webkit-transition: .5s 0s;
	transition: .5s 0s;
	border: 1px solid transparent;
	cursor: pointer;
	overflow: hidden;
}
.cityDataItem.isYc font {font-weight: bold; font-size: 16px;}
.cityDataItem+.cityDataItem { margin-top: 10px;}
.cityDataItem span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px!important;
    background: #0577b5;
    border-radius: 4px;
    color: #fff;
}
.cityDataItem:nth-child(1) span { background: #ef1010;}
.cityDataItem:nth-child(2) span { background: #f2ae1b;}
.cityDataItem:nth-child(3) span { background: #049b04;}
.cityDataItem font {
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #0caafc;
    white-space: nowrap;
}
/* 主要经济指标mainEconomicIndex*/

/* 工业用电commercialPower */
.floor_h55 {
    margin-bottom: 15px;
    height: -webkit-calc(55% - 15px);
    height: calc(55% - 15px);
    font-size: 0;
}
.floor_h45 {
    margin-bottom: 15px;
    height: -webkit-calc(45% - 15px);
    height: calc(45% - 15px);
    font-size: 0;
}
.floor_h100 {
    margin-bottom: 15px;
    height: -webkit-calc(100% - 15px);
    height: calc(100% - 15px);
    font-size: 0;
}
.power-content {
	padding-top: 10px;
	height: -webkit-calc(100% - 130px);
	height: calc(100% - 130px);
}
.module-up {
	width: 100%;
	height: 100%;
}
.module-down {
	width: 100%;
	height: 100%;
}
.module-up+.module-down {margin-top: 10px;}

.stateScreenBar {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 10;
}
.stateScreen {
	display: inline-block;
    font-size: 14px;
    color: #007696;
}
.stateScreen span {
    position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
	line-height: 26px;
	border: 1px solid;
	border-radius: 4px;
	text-align: center;
	-webkit-transition: .5s 0s;
	transition: .5s 0s;
	cursor: pointer;
}
.stateScreen span.on,
.stateScreen span:hover {
	color: #00e4ff;
}
.stateScreen+.stateScreen {margin-left: 20px;}
.stateScreen span+span {margin-left: 5px;}

.state_header {height: 48px;}
.electricDataBar {
	display: inline-block;
	width: 20%;
	height: calc(100% - 48px);
	background-color: rgba(0,0,0,.3);
	padding: 0 20px;
	vertical-align: top;
}
.electricDataFlex {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.electricDataMain, .electricData {
	flex: 1;
	vertical-align: middle;
	display: flex;
	align-items: center;
}
.electricDataMain .electricTitle {font-size: 18px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
.electricDataMain .electricValue {font-size: 18px; margin-left: 12px;}
.electricDataMain .electricTitle span:first-child {font-size: 22px;}
.electricDataMain .electricValue font {font-size: 45px; margin-right: 3px;}
.electricData .electricTitle {font-size: 18px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
.electricData .electricValue {font-size: 18px; margin-left: 12px;}
.electricData .electricValue font {font-size: 40px; margin-right: 3px;}
.electricDataMain .electricValue.notPublish:after {
	content: '未公布';
	color: #D5D5D5 !important;
	position: absolute;
	left: 52px;
	background-color: #000A22;
	font-size: 45px;
	width: calc(20% - 40px);
}
.electricData .electricValue.notPublish:after {
	content: '未公布';
	color: #D5D5D5 !important;
	position: absolute;
	left: 52px;
	background-color: #000A22;
	font-size: 40px;
	width: calc(20% - 40px);
}
.electricChartBar {
	display: inline-block;
	margin-left: 10px;
	width: calc(80% - 10px);
	height: calc(100% - 48px);
	position: relative;
}

.ratio-table {
	margin-top: 15px;
	padding-right: 1px;
    padding-bottom: 1px;
	font-size: 14px;
	color: #fff;
}
.ratio-table table {
	width: 100%;
}
.ratio-table th {
	vertical-align: middle;
	height: 50px;
	border: 1px solid #ccc;
	background: #2A60AA;
	text-align: center;
}
.ratio-table td {
	vertical-align: middle;
	height: 50px;
    min-width: 100px;
	border: 1px solid;
	text-align: center;
	color: #ccc;
}

.pieTitle {
	position: absolute;
	top: 44px;
	left: 20px;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
	font-size: 0;
	color: #fff;
}
.pieTitle span {
	position: relative;
	display: inline-block;
	width: 20%;
	height: 100%;
	font-size: 16px;
}
.pieTitle span font {
	position: absolute;
	display: inline-block;
	width: 100%;
	top: calc(100% - 24px);
	text-align: center;
}

.ydDataTableBar {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.ydDataTable {
	width: -webkit-calc(100% + 18px);
	width: calc(100% + 18px);
	max-height: -webkit-calc(100%);
	max-height: calc(100%);
	overflow-y: scroll;
	padding-right: 1px;
}
.tableTitle {
	color: #fff;
	font-size: 24px;
	text-align: center;
	position: relative;
}
.unitTip {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	font-size: 14px;
}
/* 工业用电commercialPower */

/* 八大产业eightLeadingIndustry */
.eight-content , .economicData-county-content{
    padding-top: 10px;
	height: -webkit-calc(100% - 130px);
	height: calc(100% - 130px);
}
 .economicData-county-content{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.part{
	display: inline-block;
    width: calc(50% - 7px);
    height: 100%;
    vertical-align: top;
}
.part + .part{
	margin-left: 14px;
}
.part-content {
	position: relative;
    padding: 20px;
    height: 100%;
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
}
.nav-title{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav {
	position: relative;
	padding: 10px 0;
    height: 60px;
	font-size: 18px;
	color: #fff;
	/* background: #000f30; */
    background: rgba(0,0,0,0.1);
}
.nav .return {
	position: absolute;
	right: 20px;
	top: 15px;
    padding: 10px 0;
	font-size: 0;
	color: rgba(255,255,255,.8);
    cursor: pointer;
    -webkit-transition: .5s 0s;
    transition: .5s 0s;
}
.nav .return:hover {
	color: #fff;
}
.nav .return font {
    margin-left: 5px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}
.nav-text {
    height: 100%;
    font-size: 0;
}
.nav-text  img {
    display: inline-block;
    vertical-align: middle;
}
.nav-text font {
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
}
.nav-text .eightIndustry{
	text-align: left;
	height: 100%;
    padding: 5px 60px 5px 40px;
    display: inline-block;
    font-size: 18px;
}
.tab-eightIndustry {
	display: inline-block;
    font-size: 16px;
}
.tab-eightIndustry span{
	padding: 10px 15px;
    background: #052d58;
    border-radius: 5%;
    cursor: pointer;
}
.eightIndustry {
	cursor: pointer;
}
.tab-eightIndustry span+span{
    margin-left: 20px;
    padding-left: 20px;
}
.tab-eightIndustry span.on{
	 background: #015CB5;
}
.eight-map{
    height: 100%;
	
}
.mapContent {
	height: 100%;
}
.changeChart {
	position: absolute;
    right: 30px;
    top: 20px;
    color: #fff;
}
.changeChart span {
    margin-left: 15px;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 2;
    background: #052d58;
    border-radius: 4px;
    -webkit-transition: .5s;
    transition: .5s;
}
.changeChart span.on {
    background: #0775c9;
}
.btn_set {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	text-align: center;
	width: auto;
	border: 1px solid #C4EFF8;
	border-radius: 5px;
	line-height: 35px;
	background-color: #082E56;
	cursor: pointer;
	font-size: 16px;
}




.ten-table {
	width:100%;
	height:100%;
	color: #fff;
    font-size: 14px;
}
.ten-table td{
	border-left:1px solid #375999;
	color:#ede447;
	text-align:center;
	font-size:18px;
	vertical-align: middle;
	font-family: "DIN-Medium";
}

.ten-table tr:nth-child(2) td,.ten-table tr:nth-child(4) td{
	background:rgba(9,46,117,0.7);	
}

.ten-table tr:nth-child(3) td,.ten-table tr:nth-child(5) td{
	background:rgba(24,35,97,0.7);
}

.ten-table tr:nth-child(2) td{
	font-size:16px;
	color: #ede447;
	font-weight: bold;
}

.ten-table tr:first-child td,.ten-table tr td:first-child{
	color:#00d6f6;
	text-align:left;
	vertical-align: middle;
	font-size:16px;
	border:0;
	background:transparent;
}

.ten-table tr td:nth-child(2){
	border:0;
}

.ten-table tr:first-child td{
	text-align:center;
}

.ten-table td i{
	font-size:12px;
	color:#1fdaed;
	font-style:normal;
	margin-left:2px;
}
.ten-table td img{
	vertical-align: middle;
	margin-left:4px;
    width: 10px;
}

.economicData-pro-tab {
	float: left;
	width: calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	width: -moz-calc(50% - 5px);
	height: calc(55% - 5px);
	height: -webkit-calc(55% - 5px);
	height: -moz-calc(55% - 5px);
	margin-bottom: 5px;
	margin-right: 5px;
	/* background: #000f30; */
    background: rgba(0,0,0,0.1);
}

.economicData-pro-pieChart {
	float: right;
	-moz-user-select: none;
	width: calc(50% - 5px);
	width: -webkit-calc(50% - 5px);
	width: -moz-calc(50% - 5px);
	height: calc(55% - 5px);
	height: -webkit-calc(55% - 5px);
	height: -moz-calc(55% - 5px);
	margin-bottom: 5px;
	margin-left: 5px;
	/* background: #000f30; */
    background: rgba(0,0,0,0.1);
}

.economicData-pro-barChart {
	float: left;
	-moz-user-select: none;
	width: 100%;
	height: calc(45% - 10px);
	height: -webkit-calc(45% - 10px);
	height: -moz-calc(45% - 10px);
	margin-top: 5px;
	margin-bottom: 5px;
	/* background: #000f30; */
    background: rgba(0,0,0,0.1);
}


.echarts-map {
	display: block;
	width: 100%;
	height: 100%;
	-moz-user-select: none;
	position: relative;
	background: #000f30 none repeat scroll 0% 0%;
}
.echarts-map1 {
	display: none;
	width: 100%;
	height: 100%;
}
/* .economicData-pro-tab , .economicData-pro-barChart , .economicData-pro-pieChart{
	background: #000f30;
} */
#noData,.noData {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 18px;
	color: #fff;
}

.percentBox {
    width: -webkit-calc(100% - 265px)!important;
    width: calc(100% - 265px)!important;
	height: 12px;
	display: inline-block;
	background: #02194a;
	border-radius: 10px;
	overflow: hidden;
}
.percentBox div {
	border-radius: 8px;
	height: 100%;
	background-color: #81B4FF;
}
.industry-item:nth-child(1) div { background-color: #9631E5;}
.industry-item:nth-child(2) div { background-color: #50CD81;}
.industry-item:nth-child(3) div { background-color: #E65B56;}
.industry-item:nth-child(4) div { background-color: #A2BA58;}
.industry-item:nth-child(5) div { background-color: #877EFD;}
/* 十大基地tenMajor */
.ten-floor {
    height: 50%;
    font-size: 0;
}
.ten-second-floor{
    font-size: 0;
    height: calc(50% - 10px);
    height: -webkit-calc(50% - 10px);
}

/* 企业统计companyStatistic */

.content-tab {
	height: 100%;
}
.static-floor1 {
	position: relative;
	padding: 20px;
	margin-bottom: .2%;
    height: 55.8%;
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
    font-size: 0;
}
.static-floor2 {
	padding: 0 20px 10px;
    height: calc(44% - 15px);
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
}
.pie-names {
	position: absolute;
	top: 20px;
	left: 20px;
	width: -webkit-calc(100% - 57px);
	width: calc(100% - 57px);
	height: -webkit-calc(100% - 40px);
	height: calc(100% - 40px);
	font-size: 0;
    color: #fff;
}
.pie-names span {
	position: relative;
	display: inline-block;
	width: 20%;
	height: 50%;
	font-size: 16px;
}
.pie-names span.fz24 { font-size: 24px;}
.pie-names span font {
	position: absolute;
	display: inline-block;
	width: 100%;
	bottom: 5%;
	text-align: center;
}
.arrow1 {
	position: absolute;
    bottom: -10px;
    left: 2%;
}
.arrow2 {
	position: absolute;
    bottom: -10px;
    right: 2%;
}
.chart-title {
	position: absolute;
	top: 20px;
	left: 20px;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	color: #fff;
	z-index: 9;
}
.chart-title font {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}
.chart-title span {
	margin-left: 15px;
	font-size: 14px;
    padding: 2px 15px;
    background: #0689FF;
    border-radius: 5px;
    cursor: pointer;
}
.chart-title span+span {
	display:none;
}
.chart-tab {
	height: 100%;
}


.map-areas {
	position: absolute;
	top: 120px;
	left: 50px;
    padding: 5px;
    border-top: 1px solid #0af;
    border-bottom: 1px solid #0af;
}
.map-areas2 { top: 20px;}
.map-areas span  {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}
.map-areas span+span {
    padding-left: 20px;
    margin-left: 20px;
    display: none;
}
.map-areas span.on {
    display: inline-block;
}
.map-areas span+span::before {
	content: '';
    position: absolute;
    left: -10px;
    top: 6px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.map-areas h4 {
    font-size: 18px;
}
/* 企业统计companyStatistic */


/* 精准帮扶helping */
.help-floor {
    margin-bottom: 15px;
    height: -webkit-calc(40% - 15px);
    height: calc(40% - 15px);
    font-size: 0;
}
.help-floor+.help-floor {
    height: -webkit-calc(60% - 15px);
    height: calc(60% - 15px);
}
.help-room  {
	position: relative;
	padding: 20px;
    display: inline-block;
    width: -webkit-calc(70% - 7px);
    width: calc(70% - 7px);
    height: 100%;
    vertical-align: top;
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
}
.room-contain {
    position: relative;
    height: 100%;
    /* background: #000f30; */
    background: rgba(0,0,0,0.1);
    overflow: hidden;
}
.help-room+.help-room {
    margin-left: 14px;
    width: -webkit-calc(30% - 7px);
    width: calc(30% - 7px);
}
.help-item {
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    line-height: 1;
    color: #fff;
}
.help-item span {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}
.help-item img { max-width: 80%;}
.help-item h1 {
    margin-top: -60px;
    font-size: 40px;
}
.help-item small {
    font-size: 14px;
    color: #fff;
}
.help-item p {
    margin-top: 30px;
    font-size: 16px;
}
.helping-title {
    font-size: 16px;
    color: #fff;
}
.help-content {
	padding-top: 1px;
    height: -webkit-calc(100% - 24px);
    height: calc(100% - 24px);
    width: -webkit-calc(100% + 18px);
    width: calc(100% + 18px);
    overflow-y: scroll;
    color: #fff;
}
.top-item {
    margin-top: 8%;
}
.top-item div {
    margin: 0 10px;
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.top-item font {
    width: 80px;
    font-size: 16px;
    color: #999;
}
.top-item span {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #877efd;
}
.top-item b {
    width: 50px;
    font-size: 16px;
    text-align: center;
}
.act-item {
    margin-top: 15px;
    cursor: pointer;
}
.act-item:hover span {
	background: #00479d;
}
.act-item span {
    padding: 10px 0;
    width: 80px;
    border: 1px solid #00479d;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    color: #8bbfff;
    -webkit-transition: .5s 0s;
    transition: .5s 0s;
}
.act-item h3 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #a3e0ff;
}
.act-item p {
    margin-left: 20px;
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    max-height: 65px;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.8;
}
#forthTab0 , #forthTab1{
	cursor: pointer;
}

.rollBar {animation: roll 400s 0s infinite linear;}
.rollBar:hover{
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}
@-webkit-keyframes roll {
	0% {
   		-webkit-transform: translate(0);
   		transform: translate(0);
	}
	100% {
   		-webkit-transform: translateY(-50%);
   		transform: translateY(-50%);
	}
}
@keyframes roll {
	0% {
   		-webkit-transform: translate(0);
   		transform: translate(0);
	}
	100% {
   		-webkit-transform: translateY(-50%);
   		transform: translateY(-50%);
	}
}
/* 精准帮扶helping */

/* 宜春地图ycMap */
.map-floor {
    padding-bottom: 15px;
    height: 100%;
    font-size: 0;
}
.map-room {
    display: inline-block;
    width: 49.89%;
    height: 100%;
}
.map-room+.map-room { margin-left: 0.2%;}
.map-top { height: 49.8%;}
.map-top+.map-top { margin-top: 0.4%;}
.map-room .chart3 { background: #000728;}

.checks { margin-left: 20px;}
.checks font {
	font-size: 14px;
}
.map-tip {
    margin-left: 10px;
	font-size: 14px;
	color: #0775c9;
}

.to-province {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 65px;
}
/* 宜春地图ycMap */

@-webkit-keyframes loop {
	0% {
   		-webkit-transform: translate(-50%,-50%) rotate(0);
   		transform: translate(-50%,-50%) rotate(0);
	}
	100% {
   		-webkit-transform: translate(-50%,-50%) rotate(-360deg);
   		transform: translate(-50%,-50%) rotate(-360deg);
	}
}
@keyframes loop {
	0% {
   		-webkit-transform: translate(-50%,-50%) rotate(0);
   		transform: translate(-50%,-50%) rotate(0);
	}
	100% {
   		-webkit-transform: translate(-50%,-50%) rotate(-360deg);
   		transform: translate(-50%,-50%) rotate(-360deg);
	}
}

@media screen and (max-width: 1600px){
	.two-box,
	.industry span,
	.help-box .help-infor,
	.help-box .help-infor small,
	.orders span,
	.industry-item span,
	.industry-item font,
	.count-item font,
	.infor-box,
	.el-box span,
	.map-box,
	.tabs .span1 small,
	.industry span small,
	.act-item span,
	.el-box small { font-size: 12px;}
	.companys span,
	.tab-eightIndustry,
	.helping-title,
	.help-item p,
	.top-item font,
	.top-item b,
	.tab-links span { font-size: 14px;}
	.industry span h3,
	.nav-text .eightIndustry,
	.industry-item b,
	.stac-infor b,
	.count-item b,
	.el-box h3 { font-size: 16px;}
	.tabs .span1 h1,
	.el-box h1,
	.help-box .help-infor h1,
	.project h1 { font-size: 28px;}
	.pie-names span.fz24 { font-size: 20px;}
	.act-item h3{ font-size: 24px;}
	.help-item h1 { 
      	margin-top: -55px;
		font-size: 32px;
	}
	.industry-item { line-height: 1.2;}
	.tabs { 
		padding-top: 11px;
     	height: -webkit-calc(100% - 19px);
    	height: calc(100% - 19px);
	}
	.tabs .span1 { padding: 19px 0 10px;}
	.industry span { padding: 5px 0 5px 15px;}
	.chart-box1 {
      	padding: 15px 15px 5px;
      	height: -webkit-calc(100% - 95px);
    	height: calc(100% - 95px);
	}
	.two-box .main-box1 {
	    width: 90px;
	    height: 90px;
     	font-size: 16px;
	}
	.industry span h2 { font-size: 24px;}
	.help-bar { height: 90px;}
	.chart2{
	    height: -webkit-calc(100% - 100px);
	    height: calc(100% - 100px);
	}
	.project { padding: 15px;}
	.stac-infor {
	    bottom: 0px;
	    font-size: 12px;
	}
	.count-list {
	    margin-top: 10px;
	    height: -webkit-calc(100% - 80px);
	    height: calc(100% - 80px);
	}
	.count-item+.count-item {
		margin-top: 5px;
	}
	.count-item span {
	    margin: 0 10px;
	    width: -webkit-calc(100% - 180px);
	    width: calc(100% - 180px);
	}
	.pie-names span font { font-size: 12px;}
	.top-item {
	    margin-top: 7%;
	}
	.act-item {
	    margin-top: 10px;
	}
	.act-item p {
		margin-left: 15px;
		font-size: 14px;
	}
}
@media screen and (max-width: 1440px){
	.chart-title span { font-size: 12px;}
	.chart-title font { font-size: 14px;}
	.tabs .span1 h1,
	.el-box h2,
	.el-box h1,
	.help-box .help-infor h1,
	.project h1 { font-size: 24px;}
	.chart-title { left: 15px;}
	.tabs .span1 {
	    width: -webkit-calc(33.33% - 7px);
	    width: calc(33.33% - 7px);
	}
	.tabs .span1+.span1 {
	    margin-left: 10px;
	}
    .part-content{padding: 10px;}
	.el-box h1 { margin-top: 10px;}
	.chart-box1 {
	    margin-top: 10px;
	    padding: 10px 15px 5px;
	    height: -webkit-calc(100% - 90px);
	    height: calc(100% - 90px);
	}
	.el-box span:first-child { padding-left: 20px;}
	.selects ul { max-height: 200px;}
	.selects li { padding: 7px 0 7px 15px;}
	.two-box span:nth-child(2) { left: 10%;}
	.two-box span:nth-child(3) { left: 0;}
	.two-box span:nth-child(4) { left: 5%;}
	.two-box span:nth-child(5) { right: 15%;}
	.two-box span:nth-child(6) { right: 10%;}
	.two-box span:nth-child(7) { right: 15%;}
	
	.electricDataMain .electricTitle {font-size: 16px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
	.electricDataMain .electricValue {font-size: 16px; margin-left: 12px;}
	.electricDataMain .electricTitle span:first-child {font-size: 20px;}
	.electricDataMain .electricValue font {font-size: 35px; margin-right: 3px;}
	.electricData .electricTitle {font-size: 16px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
	.electricData .electricValue {font-size: 16px; margin-left: 12px;}
	.electricData .electricValue font {font-size: 30px; margin-right: 3px;}
} 
@media screen and (max-width: 1366px){
	.two-box,
	.industry span,
	.help-box .help-infor,
	.help-box .help-infor small,
	.orders span,
	.industry-item span,
	.industry-item font,
	.count-item font,
	.infor-box,
	.el-box span,
	.map-box,
	.el-box small {
		-webkit-transform: scale(.9);
		transform: scale(.9);
     	-webkit-transform-origin: left;
     	transform-origin: left;
	}
	.two-box {
     	-webkit-transform-origin: top;
     	transform-origin: top;
	}
	.tabs .span1 { font-size: 12px;}
	.tabs .span1 h1,
	.el-box h2,
	.el-box h1,
	.help-box .help-infor h1,
	.project h1 { font-size: 22px;}
	.room-content { padding: 10px;}
    .part-content{padding: 5px 10px 5px 10px;}
	.el-box {
	    margin-bottom: 10px;
	    height: -webkit-calc(50% - 10px);
	    height: calc(50% - 10px);
	}
	.electric {
	    height: -webkit-calc(100% - 50px);
	    height: calc(100% - 50px);
	}
	.companys span {
	    height: 50px;
	    line-height: 50px;
	}
	.tabs .span1 {
	    padding: 14px 0 5px;
	}
	.chart-box1 {
	    padding: 5px 15px 5px;
	    height: -webkit-calc(100% - 65px);
	    height: calc(100% - 65px);
	}
	.el-box h3 {
	    font-size: 15px;
	}
	.industry-item img {
	    margin-left: -15px;
	    width: -webkit-calc(100% - 210px);
	    width: calc(100% - 210px);
	}
	.percentBox {
		width: -webkit-calc(100% - 210px);
	    width: calc(100% - 210px);
	}
	.industry-item+.industry-item { margin-top: 5px;}
	.orders img { vertical-align: middle;}
	.orders img:nth-child(2) { vertical-align: middle;}
	.industry-item .yellowT { width: 80px;}
	.statistic { height: 60px;}
	.count-list {
	    margin-top: 5px;
	    height: -webkit-calc(100% - 70px);
	    height: calc(100% - 70px);
	}
	.count-item+.count-item {
	    margin-top: 0px;
	}
	.count-item span { height: 10px;}
	.two-box span {
	    height: 26px;
	    line-height: 24px;
	}
	.project {
	    padding: 10px;
	}
	.help-bar {
	    height: 75px;
	}
	.help-bar>span { padding: 13px;}
	.chart2 {
	    height: -webkit-calc(100% - 85px);
	    height: calc(100% - 85px);
	}
	.static-floor1 {
	    padding: 10px;
	    height: 55.8%;
	}
	.static-floor2 {
	    height: -webkit-calc(44% - 15px);
	    height: calc(44% - 15px);
	}
	.pie-names {
	    top: 10px;
	    left: 10px;
	    width: -webkit-calc(100% - 37px);
	    width: calc(100% - 37px);
	    height: -webkit-calc(100% - 40px);
	    height: calc(100% - 20px);
	}
	.top-item {
	    margin-top: 5%;
	}
	.act-item p {
	    margin-left: 10px;
	    width: -webkit-calc(100% - 80px);
	    width: calc(100% - 80px);
	    font-size: 12px;
	}
	.act-item span {
	    padding: 5px 0;
	    width: 70px;
	}
	.act-item h3 { 
		margin-bottom: 2px;
		font-size: 18px;
	}
	.help-item h1 {
	    margin-top: -50px;
	}
	.help-item p {
	    margin-top: 20px;
	}
	
	.electricDataMain .electricTitle {font-size: 16px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
	.electricDataMain .electricValue {font-size: 16px; margin-left: 12px;}
	.electricDataMain .electricTitle span:first-child {font-size: 20px;}
	.electricDataMain .electricValue font {font-size: 30px; margin-right: 3px;}
	.electricData .electricTitle {font-size: 16px; color: #fff;border-left: 3px solid #fff; line-height: 1; padding-left: 10px;}
	.electricData .electricValue {font-size: 16px; margin-left: 12px;}
	.electricData .electricValue font {font-size: 25px; margin-right: 3px;}
}
@media screen and (max-width: 1280px){
}
.target-list .count-item sapn{
	width: calc(100% - 180px) !important;
}
.target-list .count-item b{
	color:#dfdf07;
	width:110px;
}
.target-list .count-item b i{
	font-size:12px;
	font-style:normal;
	margin-left:3px;
}

